@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
}
header > a{
    color: #4ebbfe;
}
.thing{
    width: 100%;
    height: 3.4rem;
    padding: 0 0.22rem;
}
.thing .title{
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    line-height: 0.8rem;
    color: rgba(0,0,0,0.4);
    font-size: 0.26rem;
}
.thing .title a{
    color: rgba(0,0,0,0.4);
}
.thing .bottom{
    width: 100%;
    height: 2.58rem;
    display: flex;
}
.thing .bottom .left{
    width: 1.74rem;
    height: 100%;
    flex: 0 1 auto;
}
.thing .bottom .left img{
    width: 100%;
    height: 1.74rem;
    margin-top: 0.48rem;
}
.thing .bottom .right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.thing .bottom .right h1{
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
    margin-left: 0.25rem;
    margin-top: 0.4rem;
}
.thing .bottom .right b{
    font-size: 0.26rem;
    color: #36a8fe;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    position: relative;
}
.thing .bottom .right b::before{
    width: 0.05rem;
    height: 0.05rem;
    content: " ";
    background: #44b5ff;
    position: absolute;
    top: 0.15rem;
    left: -0.09rem;
}
.thing .bottom .right > p{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    margin-left: 0.4rem;
    margin-top: 0.15rem;
    position: relative;
}
.thing .bottom .right > p::before{
    width: 0.05rem;
    height: 0.05rem;
    content: " ";
    background: #44b5ff;
    position: absolute;
    top: 0.15rem;
    left: -0.09rem;
}
.thing .bottom .right .price{
    display: flex;
    justify-content: space-between;
}
.thing .bottom .right .price > .left{
    font-size: 0.26rem;
    color: #fbb548;
    margin-left:0.4rem;
    margin-top: 0.44rem;
    position: relative;
}
.thing .bottom .right .price > .left::before{
    width: 0.05rem;
    height: 0.05rem;
    content: " ";
    background: #36d681;
    position: absolute;
    top: 0.15rem;
    left: -0.09rem;
}
.thing .bottom .right .price > .right{
    display: flex;
    flex-direction: row;
}
.thing .bottom .right .price > .right > span{
    width: 1.18rem;
    height: 0.52rem;
    background: #3bacfe;
    border-radius: 0.26rem;
    color: white;
    margin-top: 0.3rem;
    text-align: center;
    line-height: 0.52rem;
}
.thing .bottom .right .price > .right > span.hot{
    color: #3bacfe;
    background: rgb(231,246,255);
}
.thing .bottom .right .price > .right > p{
    font-size: 0.26rem;
    color: #36a8fe;
    margin:0.4rem 0.2rem;
}
.massage{
    width: 100%;
    height: 7.6rem;
    padding: 0.4rem 0.3rem;
    margin-bottom: 0.8rem;
}
.massage li{
    width: 100%;
    height: 1rem;
    /*margin-top: 0.14rem;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 1rem;
}
.massage li > h1{
    font-size: 0.24rem;
    color: #8a8c8d;
    margin-left: 0.2rem;
    position: relative;
}
.massage li > h1::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: -0.19rem;
    width: 0.05rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.03rem;
}
.massage li > p{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.4);
    margin-right:0.35rem;
}
.massage li > p > span{
    width: 0.14rem;
    height: 24rem;
    font-size: 0.22rem;
    margin-left: 0.2rem;
}
.massage li .description{
    width: 7.01rem;
    height: 2.54rem;
    background: #00c0dd;
 }
.massage .description .photo{
    width: 1.01rem;
    height: 1.01rem;
    margin-bottom: 0.24rem;
}
textarea{
    width: 100%;
    height: 1.27rem;
    background: #e7f6ff;
    font-size: 0.24rem;
    color: #b9c9d2;
}
footer{
    width: 100%;
    height: 1.07rem;
    background: #f1faff;
    line-height: 1.07rem;
    /*position: fixed;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p{
    font-size: 0.24rem;
    color: #3bacfe;
    margin-left: 0.5rem;
    position: relative;
}
footer p::before{
    content: "";
    position: absolute;
    top: 0.6rem;
    left: -0.1rem;
    width: 0.05rem;
    height: 0.05rem;
    background: #3bacfe;
    border-radius: 50%;
}
footer p b {
    font-size: 0.36rem;
    color: #36a8fe;
    margin-left: 0.12rem;
}
footer .order{
    width: 3.5rem;
    height: 0.6rem;
    background: #3bacfe;
    font-size: 0.2rem;
    line-height: 0.6rem;
    color: #ffffff;
    text-align: center;
    border-radius: 0.3rem;
    margin-top: 0.26rem;
    margin-right: 0.38rem;
}