@import "base.css";<!--导入CSS样式表-->
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
/*rem*/
header{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
}
.search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
    line-height: 0.6rem;
}
.search > span {
    float: left;
    color: #00c0dd;
    font-size: 0.28rem;
}
.search > a{
    float: right;
    width: 5.93rem;
    height: 0.6rem;
    border: 0.01rem solid red;
    border-radius: 0.3rem;
}

.banner{
    width: 7.49rem;
    height: 3.07rem;
}
.category{
    height: 6.9rem;
    padding:0.22rem;
    display: flex;
    /*flex-direction: row;!*排列方向*!*/
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: stretch;*/
    align-items: center;
}
.category li{
    width: 2.3rem;
    height: 1.94rem;
    background: #fbfbfb;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.category li a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #8e9397;
    font-size: 0.24rem;
}
.category li a > div{
    width: 1.13rem;
    height: 1.13rem;
}
.category li a > div > img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 0.98rem;
    background: #f1f9ff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0.22rem;
    -webkit-box-sizing: border-box;
}

footer a{
    height: 100%;
    width: 0.7rem;
    font-size: 0.24rem;
    color: #4ebbfe;
    text-align: center;
    padding-top: 0.1rem;
    box-sizing: border-box;
    opacity: 0.5;
}
footer > a.hot{
    opacity: 1;
}
footer a > img{
    width: 0.5rem;
    height: 0.5rem;
}