
html {
    font-size: 100px; }

body {
    font-size: 16px;
    list-style: none;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
header{
    height: 0.88rem;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid rgba(41, 167, 255, 0.13);
}
header a{
    width: 0.25rem;
    height: 0.88rem;
    padding: 0.23rem 0;
}
header a img{
    width: 0.25rem;
    color: #36a8fe;
}
header span{
    display: inline-block;
    font-size: 0.38rem;
    color: #4ebbfe;
    margin: 0.27rem 0;
    line-height: 0.4rem;
}
nav{
    margin: 0.3rem 0;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.nav1{
    display: flex;
    flex-direction: row;
    align-content: center;

}
.nav1 span{
    font-size: 0.22rem;
    letter-spacing: 0.01rem;
    color: #36d681;
}
.nav1 img{
    margin: auto 0;
    width: 0.18rem;
    height: 0.1rem;
}
.nav2{
    display: flex;
    flex-direction: row;
    align-content: center;

}
.nav2 span{
    font-size: 0.22rem;
    letter-spacing: 0.01rem;
    color: #3bacfe;
}
.nav2 img{
    margin: auto 0;
    width: 0.18rem;
    height: 0.1rem;
}
.middle{
    margin-top: 0.7rem;
}
.one{
    margin-bottom: 0.66rem;
}
.ome .left {
    width: 1.74rem;
    height: 1.74rem;
    margin-right: 0.54rem;

}
.ome .left img {
    width: 1.74rem;
    height: 1.74rem;

}
.one .right{

}
