.middle{
    width: 90%;
    height: auto;
    position: relative;
    right: 0;
    left: 0;
    top: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.symbol{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.symbol_in{
    width: 2rem;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.symbol img{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 1.1rem;
    height: 1.45rem;
}
.version_p{
    width: 1.8rem;
    position: relative;
    right: 0;
    left: 0;
    top: 0.3rem;
    margin: auto;
}
.version_p > p{
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #4f5b64;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.version_p > p > span{
    font-size: 0.26rem;
    height: 0.29rem;
    color: #525f67;
    line-height: 0.4rem;
}
.version_p > p::before{
    content: "";
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    position: relative;
    left: 54%;
    top: 0.26rem;
    margin: auto;
    background:#3ab1ff;
    box-shadow: 0px 2px 5px 0px
    rgba(58,177,255,0.51);
    border-radius: 0.02rem;
}
.version_p p::after{
    content: "";
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    position: relative;
    right: 56%;
    bottom: 0.2rem;
    margin: auto;
    background:  #3ab1ff;
    box-shadow: 0px 2px 5px 0px
    rgba(58,177,255,0.51);
    border-radius: 0.02rem;
}


.p1{
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
    width: 100%;
    font-weight: bold;
    height: auto;
    color: rgba(0,0,0,0.6);
    line-height: 2;
    padding: 0.2rem 0.1rem;
}

.p1s{
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}

.text_line_front{
    font-size: 0.3rem!important;
    color: rgba(0,0,0,0.6)!important;
}

.regular_items ul > a:nth-child(1) .jdrx{
    font-size: 0.28rem;
     color: #4ebbfe;
 }
.regular_items ul > a:nth-child(2) .jdrx{
    font-size: 0.28rem;
    color: #68ce8a;
}