.right_jt{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 10%;
}

.icon-youjiantou{
    color: #36a8fe;
    font-weight: bold;


}
.good_right_part h3{
    font-size: 0.3rem;
    font-weight: bold;
}
.good_right_part .good_price{
    top: 0;
}
.dj{
    font-weight: bold;
    font-size: 0.24rem;
    color: #36a8fe;
    margin-bottom: 0.12rem;
}
.footer .footer_left{
    margin-left: 0;
    margin-top: 0.2rem;
}
.footer_right li{
    background: #3bacfe;
    box-shadow: 0px 5px 12px 0px
    rgba(59, 172, 254, 0.43);
}
.text_line span{
    font-size: 0.26rem;
}
.message_part{
    width: 100%;
    height: 3.6rem;
    position: relative;
}
.message_content{
    width: 90%;
    height: 2.94rem;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}
.message_content_in{
    resize: none;
    width: 94%;
    height: 94%;
    outline: none;
    border: 0;
    padding: 0.2rem 0.2rem;
    background: #e7f6ff;
}
.message_content_in::-webkit-input-placeholder{
    font-size: 0.26rem;
    color: #b9c9d2;
}
.message_part .right_items{
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: -1.4rem;
    right: 70%;
}
.message_part .right_items .upload_image{
    margin-left: 0.3rem;
}
.message_part .right_items img{
    width: 1.6rem;
    height: 1.6rem;
}
.goods{
    margin-bottom: 0;
}

.keywords_part .right_items{
    margin-top: 0.2rem;
    width: 60%;
    height: unset;
}
.keywords_part > .right_items > p{
    color: #b9c9d2;
    margin-right: 0.08rem;
    font-size: 0.26rem;
}
.keywords_part > .right_items > span{
    color:#36a8fe;
    margin-left: 0.12rem;
    font-size: 0.3rem;
    font-weight: bold;
}
.comment .right_jt{
    top: 0.24rem;
}
