.pay_money_box{
    width: 100%;
    height: auto;
}
.pay_money_box ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
    background: #000;
}
.pay_money_box li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.17rem;
    height: 1.08rem;
    margin: 0.2rem 0;
    border-radius: 0.1rem;
    background: #e7f6ff;
}
.pay_money_box .up_line{
    display: flex;

}
.pay_money_box .down_line{
    display: flex;
    width: 1.34rem;
    height: 0.19rem;
}
.pay_money_box > ul > li > .up_line > span{
    font-size: 0.4rem;
    height: 0.29rem;
    line-height: 0.4rem;
    font-weight: bold;
    color: #3bacfe;
}
.pay_money_box > ul > li > .up_line > p {
    display: inline-block;
    font-size: 0.3rem;
    height: 0.27rem;
    color: rgba(59,172,254,0.51);
}
.pay_money_box > ul > li > .down_line > span{
    font-size: 0.28rem;
    height: 0.20rem;
    line-height: 0.4rem;
    font-weight: bold;
    color: #3bacfe;
}
.pay_money_box > ul > li > .down_line > p{
    display: inline-block;
    font-size: 0.20rem;
    height: 0.19rem;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: rgba(59,172,254,0.51);
}